<!--  File Name: about.ejs
      Name: Ulkar Zakaryayeva
      Student Number: 301107604
      Date: October 4, 2021
-->

<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>
  
<!-- About Page Content -->

<main class="container">
  <div id="title">  
    <h1 class="display-4">Welcome to the <%= title %> page!</h1>
  </div>
  
  <div class="container">
    <br>
    <div id="photo">
    <img src="/public/Assets/images/selfImage.jpg" alt="Kody Reid" >
        
  </div>
  
  <div class="container" id="profileText">
    <p></p>
    <h2 class="display-6">Author Profile:</h2>
      <div id="text">
        <ul>
          <li>Name: Ulkar Zakaryayeva</li>
          <li>Loaction: Markham, ON</li>
          <li>Course: Comp229 Fall 2021</li>
          <p>My name is 
          </p>
             Resume: <a href="https://onedrive.live.com/embed?cid=A6310A8835ED4336&resid=A6310A8835ED4336%21875&authkey=ANXwGI4-MG62vu0&em=2">Click Here</a>   
      </div>
  </div>
</main>
  
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>