<!--  File Name: contact.ejs
      Name: Ulkar Zakaryayeva
      Student Number: 301107604
      Date: October 4, 2021
-->

<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>
  
<!-- Contact Page Content -->

<main class="container">
  <div id="title">  
    <h1 class="display-4">Welcome to the <strong><%= title %></strong> page!</h1>
  </div><br>

  <!-- Begin Form -->    
  <form target="_blank" action="mailto:uzakarya@my.centennialcollege.ca" method="post">
    <h2 id="title">If you would like to contact me, please, fill the blanks and submit the form.</h2>
    <br>
      <div class="container" id="contactText">
	      <div id="contactBox">
          <br>
	        <label>Name:</label>
	        <input id="txtBox" name="txtName" size="25" tabindex="1" type="text" required="required"><br><br>
	        <label>Phone Number:</label>
	        <input id="txtBox2" name="txtPhone" size="25" tabindex="5" type="text" required="required"><br>
            <label>Email:</label>
	        <input id="txtBox1" name="txtEmail" size="25" tabindex="3" type="text" required="required"><br><br>
	        
  
  	      <br>
	        <label id="txtBox3">Comments:</label>
	        <textarea cols="50" name="txtCmmnt" rows="7" tabindex="37" placeholder="Any comments..."></textarea>
	        <br>
          <br>
            <div id="button">
              <input id="inputBtn" name="btnSubmit" tabindex="39" type="submit" value="Submit Form">
              <input id="resetBtn" name="btnReset" tabindex="41" type="reset" value="Reset Form">
              <br>
              <br>
            </div>
        </div>
      </div>  
  </form>
  
</main>
  
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>