<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

 
<!-- Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h2 class="display-4">Welcome to the <strong><%= title %></strong> page.</h2>
      </div>
  

  <div class="container" id="bodyText">
    <p>
      This is the home landing page for my portfolio site. 
      From this page you will be able to navigate to different areas of the web application to learn more about me!
      As my skills evolve, so will this page so check back often!
    </p>
</div>
<div class="container" id="missionText">
    <p>My mission satement to you:</p> 
      <p>Hard work pays off, no matter the age or situation. 
         If you work for something, it CAN happen!</p> 
    
</div>
</main>
  <%- include partials/bottom_nav.ejs %>

  <%- include partials/footer.ejs %>

