<!--  File Name: edit.ejs
      Name: Ulkar Zakaryayeva
      Student Number: 301107604
      Date: October 4, 2021
-->

<%- include ../partials/header.ejs %>

    <%- include ../partials/main_nav.ejs %>

        <!-- Content for the Add page -->
        <div class="container">

            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <h1 class="display-4"><strong><%= title %></strong></h1>
                    <form class="form" method="POST">
                        <div class="form-group">
                            <label for="nameTextField">Name</label>
                            <input type="text" class="form-control" 
                            id="nameTextField" 
                            placeholder="Enter the contact's name" 
                            name="name" 
                            value="<%= contact.name %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="numberTextField">Number</label>
                            <input type="number" 
                            class="form-control" 
                            id="numberTextField" 
                            placeholder="Enter the contact's number" 
                            name="number" 
                            value="<%= contact.number %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="emailTextField">Email</label>
                            <input type="text" 
                            class="form-control" 
                            id="emailTextField" 
                            placeholder="Enter the contact's email address" 
                            name="email" 
                            value="<%= contact.email %>"
                            required>
                        </div>
                        <br>
                        <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i>Update</button>

                        <a href="/contact-list" class="btn btn-warning">
                            <i class="fas fa-undo"></i>Cancel</a>

                    </form>
                </div>
            </div>
        </div>


        <%- include ../partials/bottom_nav.ejs %>

            <%- include ../partials/footer.ejs %>