 <!-- File Name: main_nav.ejs
     Name: Ulkar Zakaryayeva
     Student Number: 301107604
     Date: October 4, 2021                 
     -->


<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

 
<!-- Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <strong><%= title %></strong> page</h1>
      </div>
  

  <div class="container" id="bodyText">
    <p>
      This is my home page for my portfolio site. 
      You can get more information about my website by navigating above menu.
    </p>
</div>
<div class="container" id="missionText">
    <p>Mission satement:</p> 
      <p> Work as much as possible! You will get what you give. </p> 
    
</div>
</main>
  <%- include partials/bottom_nav.ejs %>

  <%- include partials/footer.ejs %>

