<!--  File Name: about.ejs
      Name: Ulkar Zakaryayeva
      Student Number: 301107604
      Date: October 4, 2021
-->

<%- include ../partials/header.ejs %>

    <%- include ../partials/main_nav.ejs %>

        <main class="container">
            <div class="row">
                <div class="col-md-offset-3 col=md-8">
                    <h1>
                        <% title %>
                    </h1>
                    <a href="/contact-list/add" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> Add a Contact</a>
                    <br>
                    <table class="table table-bordered table striped table-hover">
                        <!-- Header Row -->
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Number</th>
                            <th class="text-center">Email</th>
                        </tr>

                        <!-- Repeatable Template Row -->

                        <% for(let count = 0, count < contactList.length, count++) { %>
                            <tr>
                                <td class="text-center"><%= contactList[count].name %>
                                </td>
                                <td class="text-center"><%= contactList[count].number %>
                                </td>
                                <td class="text-center"><%= contactList[count].email %>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
            </div>
        </main>

        <%- include ../partials/bottom_nav.ejs %>

            <%- include ../partials/footer.ejs %>